p {
    color:dodgerblue;
    font-size: 2vw;
    font-family: "Segoe UI", Tahoma , sans-serif;
 }

 h1 {
     color:blueviolet;
     background-color: rgb(178, 249, 249);
     text-align:center;
     font-size: 5vw;
 }

 li {
     color: rgb(71, 71, 255);
     font-size: 2vw;
     font-family: "Segoe UI", Tahoma , sans-serif;
 }   

 #navbar{
    background-color: aqua;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
 }

 body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 header{
    background-color: aquamarine;
    color:rgb(183, 6, 248);
    text-align: center;
    font-size: 50px;
    border: 3px solid #FFFAFF;
 }

 .navbar {
    background-color: #FFFAFF;
    border: solid #0f5dc4;
    font-size: 20px;
    position: sticky;
    top: 0px;
 }

 .navbar th{
    border: solid #5aa2ff ;
    padding: 5px;
 }

 footer{
    background-color: #0f5dc4;
    color: #5aa2ff;
    font-size: 12px;
    border: 3px solid white;
    padding-left: 5px;
 }

 .profile {
   background-color: #5aa2ff;
   text-align: center;
 }

 .even-row {
   background-color: #0f5dc4;
 }

 .dropdown {
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position:absolute;
   background-color: white;
   color: #000080;
   padding: 5px;
 }

 .dropdown:hover  .dropdown-content {
   display:block;
   box-shadow: 5px 5px 10px black;
 }